@import 'tailwindcss';

.scrollbar-width-0 {
    scrollbar-width: none;
}

.normal {
    color: green;
}

.minor {
    color: yellow;
}

.moderate {
    color: orange;
    animation: blink 3s infinite;
}

.severe {
    color: red;
    animation: blink 2s infinite;
}

.extreme {
    color: purple;
    animation: blink 1s infinite;
}

.reverse {
    direction: rtl;
}

.blink-1 {
    animation: blink 1s infinite;
}

.blink-2 {
    animation: blink 2s infinite;
}

.blink-3 {
    animation: blink 3s infinite;
}

.weather-container {
    position: relative;
    padding-left: 13px;
}

.weather-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
    background-color: var(--weather-color, grey);
    z-index: -1;
}

@keyframes blink {
    0% { opacity: 1}
    50% { opacity: 0.5}
    100% { opacity: 1}
}

.bg-weather-storm {
    background-image: url('/storm.jpg');
    background-size: cover;
    background-position: center;
}